  api-gateway-service-dev[m
  auth-service-dev[m
  common-library-dev[m
  eureka-server-dev[m
* [32mmain[m
  notification-service-dev[m
  repair-service-dev[m
  reward-service-dev[m
  user-service-dev[m
