server:
    port: 9095

eureka:
    client:
        service-url:
            defaultZone: http://localhost:8761/eureka/
    instance:
        prefer-ip-address: true
        hostname: localhost
        instance-id: ${spring.application.name}:${server.port}

logging:
    file:
        name: logs/application.log       # File path for logs
    pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
        file: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
    level:
        root: INFO                       # Default logging level
        com.cosmacare: DEBUG              # package-specific logging

spring:
    application:
        name: security-service

    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: ${GOOGLE_CLIENT_ID:}
                        client-secret: ${GOOGLE_CLIENT_SECRET:}
                        scope:
                            - openid
                            - email
                            - profile
                        redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
                    github:
                        client-id: ${GITHUB_CLIENT_ID:}
                        client-secret: ${GITHUB_CLIENT_SECRET:}
                        scope:
                            - user:email
                        redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"

resilience4j:
    circuitbreaker:
        instances:
            inventoryService:
                registerHealthIndicator: true
                slidingWindowSize: 10
                failureRateThreshold: 50
                waitDurationInOpenState: 10s
                permittedNumberOfCallsInHalfOpenState: 3
                minimumNumberOfCalls: 5
                automaticTransitionFromOpenToHalfOpenEnabled: true

# Prometheus
management:
    endpoints:
        web:
            exposure:
                include: "*"
            base-path: /actuator
    endpoint:
        prometheus:
            enabled: true
    metrics:
        export:
            prometheus:
                enabled: true
        enable:
            all=true: